/* General styles */
body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Main title */
h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
    margin-bottom: 0;
}

/* To-Do List */
ul {
    list-style-type: none;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
}

li {
    width: 600px;
    display: flex;
    align-items: center;
    border-bottom: solid rgb(230, 230, 230);
    padding: 10px;
}

li:first-child {
    border-top: solid rgb(230, 230, 230);
}

li input {
    transform: scale(1.5);
    margin: 10px;
}

li input:checked + label {
    color:rgb(200, 200, 200);
}

label {
    position: relative;
}

/* Had to make a custom strikethrough effect,
   since default one didn't work well with the font I used */
li input:checked + label::before {
    content: "";
    border-bottom: 2px solid rgb(200, 200, 200);
    position: absolute;
    left: 0;
    width: 105%;
    top: 58%;
}

li button {
    width: 24px;
    height: 24px;
    margin-left: auto;
}

/* To-Do Append */
form {
    width: 640px;
    display: flex;
    align-items: center;
    padding: 10px;
}

form input {
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    width: 565px;
    height: 50px;
    margin-left: 30px;
    text-indent: 10px;
}

form input:focus {
    outline: none;
}

form button {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-bottom: 3px;
}